.jumbotron {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble.png);
}

body {
    background-image: url(https://ak7.picdn.net/shutterstock/videos/1023421687/thumb/1.jpg);
}

label {
    color: whitesmoke;
}